<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NodeId" value="30d9d626-0047-49d4-ac0b-a8aeb3713b2b"/>
    <add key="Host" value="http://localhost/"/>
    <add key="TaskFileSaveRootPath" value="C:\Users\zhengw\Documents\TaskManager\TaskManager.AgentService\bin\Debug\TaskFiles"/>
  </appSettings>
</configuration>