<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target name="debugFile" xsi:type="File" fileName="D:\DebugFile.txt"/>
    <target name="agentLogFile" xsi:type="File" fileName="D:\AgentLogFile.txt" />
    <target name="monitorFile" xsi:type="File" fileName="D:\MonitorFile.txt"/>
    <target name="taskLogFile" xsi:type="File" fileName="D:\TaskLogFile.txt"/>
  </targets>

  <rules>
    <logger name="DebugLogger" minlevel="Trace" writeTo="debugFile"/>
    <logger name="AgentLogger" minlevel="Trace" writeTo="agentLogFile" />
    <logger name="MonitorLogger" minlevel="Trace" writeTo="monitorFile" />
    <logger name="TaskLogger" minlevel="Trace" writeTo="taskLogFile" />
  </rules>
</nlog>